Current List<BR/>
<TABLE>
  <TR>
    <TH>IP Address</TH>
    <TH>MAC Address</TH>
    <TH>Client Name</TH>
  <TR>
  <% @current_client_list.each do |client| %>
    <TR>
	    <TD><%= client.ip_address %></TD>
	    <TD><%= client.mac_address %></TD>
	    <TD><%= client.name %></TD>
    </TR>
  <% end %>
</TABLE><BR/>

Named List<BR/>
<TABLE>
  <TR>
    <TH>Client Name</TH>
    <TH>MAC Address</TH>
    <TH>IP Address</TH>
  <TR>
  <% @named_list.each do |client| %>
    <TR>
	    <TD><%= client.name %></TD>
	    <TD><%= client.mac_address %></TD>
	    <TD><%= client.ip_address %></TD>
    </TR>
  <% end %>
</TABLE>

<%= form_for(@client, url: tops_path) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :mac_address %>
  <%= f.text_field :ip_address %>
  <%= f.submit %>
<% end %>